.section {
    margin: 20px 0;
    background-color: hsl(60, 25%, 95%);
}

.header_h2 {
    margin: 0;
    padding: 15px;
    border-bottom: 3px solid hsl(60, 25%, 85%);
}

.section__body {
    padding: 20px;
}

.taskList__task {
    color: hsl(60, 25%, 10%);
    padding: 10px;
    list-style-type: none;
    border-bottom: 2px solid hsl(60, 25%, 85%);
}

.taskList__task--done {
    color: hsl(60, 89%, 15%);
    text-decoration: line-through;
}

.form__button {
    border: none;
    background-color: teal;
    color: white;
    padding: 10px 20px;
}

.form__button:focus {
    outline: none;
}

.form__button:focus {
    outline: none;
}

.form__button:active {
    outline: 1px solid grey;
    background-color: hsl(180, 100%, 30%);
}

.form__input {
    padding: 5px 10px;
    border: 2px solid hsl(60, 25%, 85%);
}

.listButton {
    width: 35px;
    height: 35px;
    border: none;
    padding: none;
}

.listButton--isDone {
    background-color: hsl(120, 100%, 30%);
    color: white;
    font-size: 130%;
}

.listButton--remove {
    background-color: crimson;
    font-size: 180%;
}

.listButton--done {
    background-color: hsl(120, 100%, 35%);
}