.section {
    margin: 20px 0;
    background-color: hsl(60, 25%, 95%);
    box-shadow: 4px 4px 30px 10px hsl(60, 25%, 75%);
}

.section__body {
    padding: 20px;
}

.header__h1 {
    padding: 20px 10px;
}

.header__h2 {
    margin: 0;
    padding: 15px;
    border-bottom: 3px solid hsl(60, 25%, 85%);
}

.form {
    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-gap: 20px;
}

@media (max-width: 767px) {
    .form {
        grid-template-columns: auto;
    }
}

.form__button {
    border: none;
    background-color: hsl(180, 100%, 25%);
    color: white;
    padding: 10px 20px;
}

.form__button:hover {
    background-color: hsl(180, 100%, 29%);
}

.form__button:active {
    background-color: hsl(180, 100%, 33%);
}

.form__input {
    padding: 5px 10px;
    border: 2px solid hsl(60, 25%, 85%);
}

.taskListRow {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
}

@media (max-width: 767px) {
    .taskListRow {
        grid-template-columns: auto;
    }
}

.taskListButtonRow {
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
}

@media (max-width: 767px) {
    .taskListButtonRow {
        grid-template-columns: auto;
    }
}

.taskListButton {
    font-size: 16px;
    color: hsl(180, 100%, 25%);
    background-color: inherit;
    border: none;
    margin: 0px 0px 0px 20px;
}

.taskListButton--disabled {
    color: hsl(60, 15%, 65%);
}

.taskList__task {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 20px;
    align-items: center;
    color: hsl(60, 25%, 10%);
    padding: 10px;
    list-style-type: none;
    border-bottom: 2px solid hsl(60, 25%, 85%);
}

.taskList__task--done {
    color: hsl(60, 89%, 15%);
}

.taskList__task--hidden {
    display: none;
}

.taskList__taskName {
    text-decoration: line-through;
}

.listButton {
    width: 35px;
    height: 35px;
    border: none;
    color: white;
    padding: 0px;
}

.listButton--done {
    background-color: hsl(120, 100%, 30%);
    font-size: 130%;
}

.listButton--done:hover {
    background-color: hsl(120, 100%, 35%);
}

.listButton--done:active {
    background-color: hsl(120, 100%, 40%);
}

.listButton--remove {
    background-color: hsl(353, 100%, 45%);
    font-size: 160%;
}

.listButton--remove:hover {
    background-color: hsl(353, 100%, 55%);
}

.listButton--remove:active {
    background-color: hsl(353, 100%, 65%);
}